.comments__item {
  max-width: 382px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .comments__item {
    margin: 0 18px;
    text-align: center;
    order: 3;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .comments__item {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
  }

  .comments__item:last-of-type {
    margin-bottom: 0;
  }
}
