@import url("../cover/__background/cover__background.css");
@import url("../cover/__overlay/cover__overlay.css");
@import url("../cover/__title/cover__title.css");
@import url("../cover/__subtitle/cover__subtitle.css");

.cover {
  padding: 92px 0 92px;
  width: 100%;
  max-width: 1280px;
  height: 740px;
  margin: 0 48px;
}
