.comments__author {
  margin: 0;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-align: left;
}

@media screen and (max-width: 765px) and (min-width: 320px) {
  .comments__author {
    margin: 16px auto 24px;
    text-align: center;
    order: 2;
  }
}
